.tree-view .native-icon::before,
.tab-bar .native-icon::before {
  display: inline-block;
  height: 16px !important;
  width: 16px !important;
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle !important;
}
